@model IEnumerable<Culinaria.Models.Recipe>

@{
    ViewData["Title"] = "Minhas Receitas";
    ViewData["ActivePage"] = Culinaria.Views.Management.ManageNavPage.MyRecipes;
}

<h4>@ViewData["Title"]</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img class="my-recipe-img" src="@item.Image" alt='@Html.DisplayFor(modelItem => item.Title)'>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="Home" asp-action="Recipe" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>