@model IEnumerable<Culinaria.Models.Recipe>
@using Microsoft.AspNetCore.Identity
@inject UserManager<Culinaria.Areas.Identity.Data.CulinariaUser> userManager

@{
    ViewData["Title"] = "Culinaria";
}

@if (@ViewBag.StatusMessage != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.StatusMessage
    </div>  }

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <a class="btn btn-primary" asp-action="Create">Criar Nova Receita</a>
    </div>
    
}

<div class="row" id="content">
    @foreach (var item in Model)
    {
    <div class="col-lg-3">
        @if (User.Identity.IsAuthenticated & (userManager.GetUserId(User) == item.OwnerId | ViewBag.isAdmin))
        {
            <a class="add" asp-action="Edit" asp-route-id="@item.Id">Editar </a> 
            <a class="delete" asp-action="Delete" asp-route-id="@item.Id">  Eliminar</a>
        }

        <a asp-action="Recipe" asp-route-id="@item.Id" class="card-recipe">

            <div class="card-recipe-image">
                <img src="@item.Image" alt=@Html.DisplayFor(modelItem => item.Title)>
            </div>
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <div class="time">@Html.DisplayFor(modelItem => item.Time)</div>

        </a>
    </div>
    }
</div>