@model Culinaria.Models.Recipe
@using Microsoft.AspNetCore.Identity

@inject UserManager<Culinaria.Areas.Identity.Data.CulinariaUser> userManager

@{
    ViewData["Title"] = Model.Title;
}

@if (@ViewBag.StatusMessage != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.StatusMessage
    </div>  }

<div class="container-fluid">
    <h1>@Html.DisplayFor(model => Model.Title)</h1>
    @if ((User.Identity.IsAuthenticated & userManager.GetUserId(User) == Model.OwnerId) || User.IsInRole("Admin"))
    {
        <div>
            <a class="add" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
            <a class="delete" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
        </div>
    }
    @*upper body of recipe*@
    <div class="row">
        <img src="@Model.Image" alt=@Html.DisplayFor(model => model.Title)>
    </div>
    <div class="text-center recipe-text">
        @Html.DisplayFor(model => Model.Description)
    </div>
    @*lower body of recipe*@
    <div class="row">
        <div class="col-6">
            <h3>Ingredientes</h3>
            <ul>
                @foreach (var item in Model.Ingredients)
                {
                    <li>@Html.DisplayFor(modelItem => item.Name)</li>
                }

            </ul>

        </div>
        <div class="col-6">
            <h3>Preparação</h3>
            <p class="recipe-text">@Html.DisplayFor(model => Model.Prep)</p>
        </div>
    </div>
    <div>Feito por: @Model.OwnerName</div>
</div>



